* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ----- Menú -------*/

.contenedor {
  width: 99%;
  max-width: 1000px;
  margin: auto;
}

header nav {
  margin-bottom: 10%;
  background-color: rgba(255, 116, 56, 0.49);
  border-radius: 10px;
}

header nav ul {
  list-style: none;
  overflow: hidden;
}

header nav ul li {
  float: left;
  width: 16%;
  height: auto;
  font-family: "Catamaran 900", sans-serif;
  font-size: 96%;
  text-align: center;
}

header nav ul li a {
  display: block;
  padding: 20%;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  max-width: 1000px;
}

#home {
  width: 50%;
  height: auto;
}
/* ----- Principal o Home -------*/

#principal {
  background-image: url(https://images.unsplash.com/photo-1460667262436-cf19894f4774?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#root {
  width: 45%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  padding-top: 20%;
  overflow: hidden;
}

#m {
  width: 27%;
}

h1 {
  font-size: 1100%;
  color: rgba(255, 255, 255, 1);
  font-family: "Righteous", cursive;
  display: block;
  float: left;
}

#botones-principalbox {
  width: 28%;
  height: auto;
  padding: 1%;
  padding-bottom: 18%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.botones-principal {
  width: 46%;
  padding: 5% 3%;
  margin: 2%;
  background-color: rgba(255, 116, 56, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 10px rgba(171, 171, 171, 1);
  font-family: "Catamaran 900", sans-serif;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  float: left;
}
/* ----- Generador de código secreto -------*/
#generador-mensaje {
  background-image: url(../images/imagnes_aplicacion/cabecera_generador.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#g-men {
  width: 60%;
  height: auto;
  padding: 5%;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.caja-ch {
  width: 5em;
  margin-right: 5%;
  height: 5em;
  border-radius: 10px;
  border-color: rgba(38, 38, 38, 1);
  display: block;
}

#caja-offset {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 1%;
  font-family: "Catamaran 400", sans-serif;
  display: block;
}
.caja-cipher {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;
  margin-bottom: 5%;
  font-family: "Catamaran 400", sans-serif;
  overflow: hidden;
}

/* ----- Tengo un código -------*/
#tengo-codigo {
  background-image: url(../images/imagnes_aplicacion/cabecera.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#t-codigo {
  width: 30%;
  height: auto;
  padding: 5%;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-family: "Catamaran 900", sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.botones {
  width: 10%;
  padding: 1em 0.5em;
  display: block;
  background-color: rgba(255, 116, 56, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 10px rgba(171, 171, 171, 1);
  font-family: "Catamaran 900", sans-serif;
  font-size: 100%;
  border: none;
  border-radius: 10px;
  float: left;
}

.caja {
  width: 80%;
  margin-right: 5%;
  height: 13em;
  border-radius: 10px;
  border-color: rgba(38, 38, 38, 1);
  float: left;
}

.caja-boton {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 5%;
  overflow: hidden;
}
